.section_crear_horario{
    background-image: url('/img/campo1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10%;
}
.article_crear_horario{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.3);
}
.h2_crear{
    color: white; 
    
}

.buton_crearHorario {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.buton_crearHorario:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.buton_crearHorario:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.section_crear_hora{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
}